# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Uploads & temp data
uploads/
data/combined_data/
data/new_data/

# Model (optional if large)
models/*.keras