fastapi==0.121.3
uvicorn==0.38.0
python-multipart==0.0.22
tensorflow==2.21.0
keras==3.12.1
numpy==2.2.6
pillow==11.3.0
scikit-learn==1.7.2
matplotlib==3.10.8
seaborn==0.13.2
pandas==2.3.3
opencv-python==4.13.0.92
h5py==3.14.0
python-dotenv==1.0.0
pydantic==2.12.4
requests==2.32.4